<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Meet Our Staff!</title>

  </head>

  <body style="color:white;">

    <!-- Navigation -->
    <app-navbar></app-navbar>

    <!-- Page Content -->
    <div class="container">

      <!-- Introduction Row -->
      <h1 class="">Meet Our Staff</h1>
      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-"><u>Leadership</u></h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="assets/img/leadership/jeff_deena2.jpg" alt="">
          <h3>Pastors<br>
            <small>Jeff &amp; Deena Blizzard</small>
          </h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="assets/img/leadership/Steven_Sarah.jpg" alt="">
          <h3>Youth Pastors<br>
            <small>Steven and Sarah Williford</small>
          </h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="assets/img/leadership/deena.jpg" alt="">
          <h4>Children's Education Director<br>
            <small>Deena Blizzard</small>
          </h4>
        </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
              <img class="rounded-circle img-fluid d-block mx-auto" src="assets/img/leadership/mark_theresa.jpg" alt="">
              <h3>Young Adults<br>
                <small>Mark &amp; Theresa Morgan</small>
              </h3>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
              <img class="rounded-circle img-fluid d-block mx-auto" src="assets/img/leadership/jacob2.jpg" alt="">
              <h3>Men's Leader<br>
                <small>Jacob Burkett</small>
              </h3>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
              <img class="rounded-circle img-fluid d-block mx-auto" src="assets/img/leadership/Lisa.jpg" alt="">
              <h3>Women's Leader<br>
                <small>Lisa Lamey</small>
              </h3>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
              <img class="rounded-circle img-fluid d-block mx-auto" src="assets/img/leadership/Nichols.jpg" alt="">
              <h3>Senior Adults - "Double Nickels"<br>
                <small>Ed &amp; Marie Nichols</small>
              </h3>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
              <img class="rounded-circle img-fluid d-block mx-auto" src="assets/img/leadership/Chuck.jpg" alt="">
              <h3>Royal Rangers<br>
                <small>Chuck Morris</small>
              </h3>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
              <img class="rounded-circle img-fluid d-block mx-auto" src="assets/img/leadership/P_morris.jpg" alt="">
              <h3>Impact Girls<br>
                <small>Patricia Morris</small>
              </h3>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4"style="margin:auto;">
              <img class="rounded-circle img-fluid d-block mx-auto" src="assets/img/leadership/Ronda.jpg" alt="">
              <h3>Worship Leader<br>
                <small>Ronda Simmons</small>
              </h3>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4"style="margin:auto;">
              <img class="rounded-circle img-fluid d-block mx-auto" src="assets/img/leadership/Patricia.jpg" alt="">
              <h3>Media<br>
                <small>Patricia Dear</small>
              </h3>
            </div>
            
        <div class="col-lg-12">
            <h2 class="my-4"><u>Board Members</u></h2>
          </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="assets/img/leadership/Chuck.jpg" alt="">
          <h3>Chuck Morris</h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="assets/img/leadership/Mark.jpg" alt="">
          <h3>Mark Morgan</h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="assets/img/leadership/charles.jpg" alt="">
          <h3>Charles Dear</h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4" style="margin:auto;">
          <img class="rounded-circle img-fluid d-block mx-auto" src="assets/img/leadership/Ronda.jpg" alt="">
          <h3>Treasurer
            <small>Ronda Simmons</small>
          </h3>
        </div>
      </div>

    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>

<router-outlet></router-outlet>