.jumbotron{
    background-image: url('/assets/img/not_found.jpg');
    background-repeat: no-repeat;
}

.img-fluid{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom:10px;
}

@media (max-width: 979px) {
    body {
      padding-top: 60px;
    }
}