<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Half Slider - Start Bootstrap Template</title>

    <script src="./jquery.min.js"></script>
    <script src="./bootstrap.bundle.min.js"></script>

  </head>
  <body style="color:white;">
    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('./assets/img/adults-1.jpg')">
            <div class="carousel-caption d-none d-sm-block">
              <h1 style="vertical-align: text-top;">Adults</h1> 
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below
          <div class="carousel-item" style="background-image: url('./assets/img/youth-1.jpeg')">
            <div class="carousel-caption d-none d-sm-block">
              <h1>New Membership Class</h1>
              <h4>Starting December 9th at 9:45 AM </h4>
            </div>
          </div>
        -->
          <!-- Slide Three - Set the background image for this slide in the line below 
          <div class="carousel-item" style="background-image: url('./assets/img/new_years.jpeg')">
            <div class="carousel-caption d-none d-sm-block">
              <h1>Watchnight Service</h1>
              <h4>December 31st at [time]</h4>
            </div>
          </div>
        -->
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Young Adult's Leaders
                <small>Mark & Theresa Morgan</small>
            </h3>
            <p style="float: left;"><img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt=""></p>
            <p style="text-align: center;">The Young Adult's ministry is one that encourages and equips younger generations to build and live a healthy relationship with God, as well as establish frienships with other young adults striving to walk in God's path.</p>
            
            <h5 style="text-align:center;">Meeting Times &amp; Locations</h5>
                
            <p style="text-align: center;">
            Pre-Service Sunday school starting at 9:45 AM
            </p>
        
        </div>
        
    </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-12">
              <h3>Double Nickels Leader
                  <small>[Name]</small>
              </h3>
            <p style="float: left;"><img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt=""></p>
            <p style="text-align: center;">Double Nickels is a ministry available for ages 55 and up with a goal to maintain a healthy Christian lifestyle and help equip younger generations by being a strong foundation in the church.</p>
            
            <h5 style="text-align:center;">Meeting Times &amp; Locations</h5>
                
            <p style="text-align: center;">
            Pre-Service Sunday school starting at 9:45 AM in the Fellowship Hall
            </p>


          </div>
          
      </div>
          <!-- /.row -->
          <div class="row">
              <div class="col-lg-12">
                  <h3>Women's Ministry Leader
                      <small>[Name]</small>
                  </h3>
                <p style="float: left;"><img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt=""></p>
                <p style="text-align: center;">New Covenant Women's ministries goal is to provide women with a foundation in Christ in order to be successful wives, mothers, and build friendships among other Christian women.</p>
                
                
              </div>
              
          </div>
              <!-- /.row -->
              <div class="row justify-content-center">
                  <h5 style="text-align:center;">Meeting Times &amp; Locations</h5>
              </div>
              <div class="row justify-content-center">
                  <p style="text-align: center;">Bible Study Monday Evening at 6:30 PM - Hosted at Lisa Lamey's house -- <small>Contact Lisa Lamey at (888)-888-8888 for details and directions.</small></p>
                  <p style="text-align: center;">Bible Study Tuesday Morning at 9:00 AM - Located in the church Fellowship Hall</p>    
                  <p style="text-align: center;">Upcoming events can be found on the <a routerLink="/events" style="color:white; font-weight: bold;">Events Page</a></p>
              </div>

              <div class="row">
                  <div class="col-lg-12">
                      <h3>Men's Ministry Leader
                          <small>[Name]</small>
                      </h3>
                    <p style="float: left;"><img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt=""></p>
                    <p style="text-align: center;">New Covenant Men's ministry encourages and equips men of God to step into their role as Godly fathers, devoted husbands, as well as build friendships with other Christian men.</p>
                    <p style="text-align: center;">Upcoming events can be found on the <a routerLink="/events" style="color:white; font-weight: bold;">Events Page</a></p>
                  </div>
                  
              </div>
                  <!-- /.row -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>