.carousel-item {
    height: 50vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  a:hover{
    color: #0000ee !important;
  }
  a:visited{
    color: #551A8B !important;
  }