<div class="row" style="padding-top: 60px;">
    <h2 style="color: white;">
    {{title}}
    </h2>
</div>

<button class="btn btn-light btn-info" [class.active]="filterBy==='all'" (click)="filterBy='all'">All</button>
<button class="btn btn-light btn-info" [class.active]="filterBy==='Christmas 2018'" (click)="filterBy='Christmas 2018'">Christmas 2018</button>
<button class="btn btn-light btn-info" [class.active]="filterBy==='Fall Fest 2018'" (click)="filterBy='Fall Fest 2018'">Fall Fest 2018</button>


<div class="row">
    <ul id="thumbnailsList">
        <li *ngFor="let image of (visibleImages | imageFilter:filterBy)">
            <a [routerLink] = "['/image', image.id]">
                <img src="{{image.url}}" class="tn" width="200" height="160">
            </a>
        </li>
    </ul>
</div>