<body>
<div style="padding-bottom:15px;">
  <div style="background-color:rgba(0, 0, 0, 0.400)">
  <h1 style="text-align: center; color:white;">
    <strong>See what God can do<br> through your generosity.</strong><br>
      <small>Simple and secure. Give a single gift, or schedule recurring giving using your checking account, debit, or credit card.</small></h1>
  </div>
<div style="margin-top:65px; display: flex;align-items: center;justify-content: center;">
<button onclick="create_tithely_widget();" class="tithely-give-btn" style="background-color: #00DB72;font-family: inherit;font-weight: bold;font-size: 19px; padding: 15px 70px; border-radius: 4px; cursor: pointer; background-image: none; color: white; text-shadow: none; display: inline-block; float: none; border: none;" data-church-id="1228027">Give</button>
</div>

<div style="color:white; padding-top:15px;">
  <h4 style="text-indent:25px;">
    <small>
    There are several options available for giving online along with different opportunities where to direct your gift. 
    New Covenant in Silsbee's online giving is completely safe and secure. If this is your first time giving online, feel free to create a free account
    for faster giving. For any questions with online giving, please feel free to call the church at (409)-385-5548, 
    or send an email to <a style="color:white;"href="mailto:ncag.technology@gmail.com">ncag.technology@gmail.com</a>.
    </small>
  </h4>
<div style="text-align:center;">
  <h5>
    TO GIVE BY MAIL<br>
    <small>Please make check or money order payable to:</small>
  </h5>
  <h5>
    New Covenant Silsbee<br>
    1470 N 5th St.<br>
    Silsbee, TX 77656
  </h5>
</div>
</div>

</div>
</body>