  <br>
  <br>
  <style type="text/css">
    .tg  {margin:auto;border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg .tg-iejp{font-weight:bold;color:#ffffff;border-color:#ffffff;text-align:center;vertical-align:top}
    .tg .tg-il3a{color:#ffffff;border-color:#ffffff;text-align:left;vertical-align:top}
    </style>
    <table class="tg">
      <tr>
        <th class="tg-iejp">Tithe.ly</th>
        <th class="tg-iejp">GiveLify</th>
      </tr>
      <tr>
        <td class="tg-il3a">2.9% + $0.30 per transaction<br>Ex. $100 tithe = $96.80 for the church, $3.20 to Tithe.ly</td>
        <td class="tg-il3a">Mobile App Donations<br>2.9% + $0.30 per transaction<br>Ex. $100 tithe = $96.80 for the church, $3.20 to Tithe.ly<br></td>
      </tr>
      <tr>
        <td class="tg-il3a">Can add additional features such as church management database.</td>
        <td class="tg-il3a"><a href="https://www.givelify.com/">App Test Drive</a></td>
      </tr>
      <tr>
        <td class="tg-il3a">Tracks all donations, fundraising campaigns, etc..</td>
        <td class="tg-il3a">Next Day deposit to bank account.</td>
      </tr>
      <tr>
        <td class="tg-il3a">Can create event registration</td>
        <td class="tg-il3a"> Can create campaigns.</td>
      </tr>
    </table>
    <br>
    <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
