.carousel-item {
    height: 50vh;
     min-height: 400px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

@keyframes blink{
  from {
    opacity: 1;
  }
  to {
    opacity: .2;
    color: azure;
  }
}

  @media (max-width: 600px) {
    body {
      padding-top: 80px;
      #resize_for_mobile{
      font-size: 20px;
      }
      #resize_countdown{
        font-size: 14px;
      }

    }
  }