<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:url" content="https://www.ncagchurch.com/">

    <title>Half Slider - Start Bootstrap Template</title>

    <script src="./jquery.min.js"></script>
    <script src="./bootstrap.bundle.min.js"></script>
  <!--   <script>
      function timerEnd(){
        document.getElementById("countdown").inerHTML = "TESTTTINGGGGG"
          /* var textnode = document.createTextNode("TESTING TIMER REMOVAL");
          var timerReplace = document.getElementById("countdown").childNodes[0];
          timerReplace.replaceWith(textnode); */
      }
    </script> -->

  </head>
  <body>
    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner" role="listbox" data-interval="600">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('/assets/img/worship.jpeg')">
            <div class="carousel-caption">
              <h1 id="resize_countdown" style="position: relative;">Worship With Us</h1>
              <h4 id="resize_countdown">Sunday School at 9:45am</h4>
              <h4 id="resize_countdown">Service at 10:45am</h4>
              <h4 id="resize_countdown">Wednesday Nights at 7:00pm</h4>
              <div style="background-color: rgba(12, 12, 12, 0.300)">
              <h3 id="resize_for_mobile" id="joinUs">Join us at our next service in:
              <h5 id="resize_for_mobile"><countdown (reached)="timerEnd();" id="countdown" style="font-size:16px;" [text]="text"units="Days  | Hours | Minutes | Seconds" end=" March 1, 2020 10:45"></countdown></h5>
             </h3>
            </div>
            </div>
          </div>
          <!-- Slide TWO A - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/assets/img/bake_auction.jpg')">
            <div id="resize_for_mobile" style="padding-top: 5%; background-color: rgba(12, 12, 12, 0.400)" class="carousel-caption">
            <h1>Women's Ministry</h1>
            <h2>Baked Goods Silent Auction</h2>
            <h2>March 1, 2020 | 9am - 12:30pm</h2>
            
            <h2>Church Fellowship Hall</h2>
            </div>
          </div>
         <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/assets/img/Light_for_the_lost.jpg')">
            <div id="resize_for_mobile" style="padding-top: 5%; background-color: rgba(12, 12, 12, 0.400)" class="carousel-caption">
            <h1>Light For the Lost Missions</h1>
            <h2>Fundraiser</h2>
            <h2>March 14, 2020 | 11am - 3pm</h2>
            
            <h2>Brookshire Brothers - Silsbee</h2>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/assets/img/bake_sale.jpg')">
            <div id="resize_for_mobile" style="padding-top: 5%; background-color: rgba(12, 12, 12, 0.400)" class="carousel-caption">
            <h1>Children's Church Bake Sale</h1>
            <h2>Fundraiser</h2>
            <h2>March 14, 2020 | 11am - 3pm</h2>
            
            <h2>Brookshire Brothers - Silsbee</h2>
            </div>
          </div>
          <!-- Slide Four - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/assets/img/bible.jpeg')">
            <div class="carousel-caption">
              <h1 id="resize_for_mobile">New Membership Class</h1>
              <h4 id="resize_for_mobile">Coming Soon! </h4>
            </div>
          </div>
          <!-- Slide Five - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/assets/img/bricks.jpg')">
            <div class="carousel-caption">
              <h1 id="resize_for_mobile">Follow Us on Facebook!</h1>
              <h4 id="resize_for_mobile"><a style="color:white;" href="https://www.facebook.com/newcovenantassemblyofgod/">NCAG Silsbee </a><a target="_blank" title="follow me on facebook" href="https://www.facebook.com/newcovenantassemblyofgod/"><img alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png" border=0></a></h4>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
      <div class="container">
        <h1 style="color:white;text-align: center;">Welcome</h1>
        <h4 style="color:white;text-align: center;">Welcome to New Covenant - Silsbee, a passionate Jesus-Centered church that believes in the work, power, and person of the Holy Spirit. We are here to Love God and Love People.</h4>
      </div>
<br>
<br>
      <h2 style="color:white; text-align:center;">MINISTRIES</h2>
      <div class="row text-center">

          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <a routerLink="/children"><img class="card-img-top" id="text_center_on_card"src="/assets/img/children.jpeg" alt="Children">
              <h2 class="centered">CHILDREN</h2></a>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <a routerLink="/youth"><img class="card-img-top" src="/assets/img/youth.jpeg" alt="">
              <h2 class="centered"style="color:white;">YOUTH</h2></a>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <a routerLink="/adults-and-family"><img class="card-img-top" src="/assets/img/adults.jpeg" alt="">
                <h2 class="centered">ADULTS</h2></a>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <a routerLink="/missions"><img class="card-img-top" src="/assets/img/missions.jpeg" alt="">
                <h2 class="centered">MISSIONS</h2></a>
            </div>
          </div>
  
        </div>
        <!-- /.row -->
      </section>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>