<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">

        <ul class="footer-nav list-unstyled list-inline text-center">
            <li class="list-inline-item">
              <a routerLink="/home">Home</a>
            </li>
            <li class="list-inline-item">
                <a routerLink="/beliefs">Beliefs</a>
            </li>
            <li class="list-inline-item">
                <a routerLink="/our-vision">Our Vision</a>
            </li>
            <li class="list-inline-item">
                <a routerLink="/children">Children</a>
            </li>
            <li class="list-inline-item">
                <a routerLink="/youth">Youth</a>
            </li>
            <li class="list-inline-item">
                <a routerLink="/adults-and-family">Adults</a>
            </li>
              <li class="list-inline-item">
                  <a routerLink="/missions">Missions</a>
            </li>
            <li class="list-inline-item">
                    <a routerLink="/events">Events</a>
            </li>
            <li class="list-inline-item">
                    <a routerLink="/gallery">Gallery</a>
            </li>
            <li class="list-inline-item">
                <a routerLink="/online-giving">Online Giving</a>
            </li>
            <li class="list-inline-item">
                    <a routerLink="/contact">Contact</a>
            </li>
          </ul>
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a href="https://www.facebook.com/newcovenantassemblyofgod/" class="btn-floating btn-fb mx-1">
              <i class="fab fa-facebook-square"></i>
          </a>
        </li>
      </ul>
      <!-- Social buttons -->
    </div>
    <!-- Footer Elements -->
<div class="text-center py-3">
    <img class="AGFooterLogo" src="/assets/img/nc_logo.png" style="max-width:70px; height:auto; width:auto;">
</div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <p>New Covenant Assembly of God - Silsbee</p>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->